body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "Ubuntu";
}

body .bg {
  -webkit-clip-path: polygon(0 0, 80% 0%, 54% 100%, 0% 100%);
          clip-path: polygon(0 0, 80% 0%, 54% 100%, 0% 100%);
  background-color: #536DFE;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

@media only screen and (max-width: 959px) and (min-width: 600px) {
  body .bg {
    -webkit-clip-path: polygon(100% 0, 100% 63%, 65% 100%, 0 100%, 0 0);
            clip-path: polygon(100% 0, 100% 63%, 65% 100%, 0 100%, 0 0);
  }
}

@media only screen and (max-width: 598px) and (min-width: 50px) {
  body .bg {
    -webkit-clip-path: polygon(100% 0, 100% 63%, 65% 100%, 0 100%, 0 0);
            clip-path: polygon(100% 0, 100% 63%, 65% 100%, 0 100%, 0 0);
  }
}

.open {
  left: 0;
  -webkit-transition: left 0.8s ease;
  transition: left 0.8s ease;
}

.close {
  left: -20%;
  -webkit-transition: left 0.8s ease;
  transition: left 0.8s ease;
}

@media only screen and (max-width: 959px) and (min-width: 600px) {
  .close {
    left: -70%;
  }
}

@media only screen and (max-width: 598px) and (min-width: 50px) {
  .close {
    left: -70%;
  }
}

#menu {
  background-color: white;
  width: 20%;
  height: 100%;
  position: absolute;
  color: black;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
}

@media only screen and (max-width: 959px) and (min-width: 600px) {
  #menu {
    width: 70%;
  }
}

@media only screen and (max-width: 598px) and (min-width: 50px) {
  #menu {
    width: 70%;
  }
}

#menu #menuButton {
  width: 10%;
  margin-left: 100%;
  height: 6%;
  position: absolute;
  background-color: white;
  text-align: right;
  padding-right: 25px;
  padding-top: 9px;
  margin-top: 35%;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

@media only screen and (max-width: 959px) and (min-width: 600px) {
  #menu #menuButton {
    margin-top: 25%;
  }
}

@media only screen and (max-width: 598px) and (min-width: 50px) {
  #menu #menuButton {
    margin-top: 25%;
  }
}

#menu p {
  text-align: center;
  font-size: 1.3em;
  text-shadow: 0px 0px 1px black;
}

#menu img {
  width: 100px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

@media only screen and (max-width: 959px) and (min-width: 600px) {
  #menu img {
    width: 50px;
    height: 50px;
  }
}

@media only screen and (max-width: 598px) and (min-width: 50px) {
  #menu img {
    width: 50px;
    height: 50px;
  }
}

#menu .menuItems {
  border-top: 2px solid #e63030;
}

#menu .menuItems ul {
  list-style: none;
  display: block;
  margin-left: -35px;
}

#menu .menuItems ul li {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1em;
}

.parent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin: 0;
}

@media only screen and (max-width: 959px) and (min-width: 600px) {
  .parent {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 50px;
  }
}

@media only screen and (max-width: 598px) and (min-width: 50px) {
  .parent {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 50px;
  }
}

.parent .div1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
  margin-top: 30%;
  text-align: left;
}

@media only screen and (max-width: 959px) and (min-width: 600px) {
  .parent .div1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1 / 1 / 2 / 2;
    margin-top: 20%;
  }
}

@media only screen and (max-width: 598px) and (min-width: 50px) {
  .parent .div1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1 / 1 / 2 / 2;
    margin-top: 20%;
  }
}

.parent .div1 h1 {
  color: white;
  font-size: 3em;
  margin-left: 20%;
  margin-top: 0%;
  display: block;
}

@media only screen and (max-width: 959px) and (min-width: 600px) {
  .parent .div1 h1 {
    margin-left: auto;
    margin-right: auto;
    font-size: 2em;
    margin-top: 0%;
    text-align: center;
  }
}

@media only screen and (max-width: 598px) and (min-width: 50px) {
  .parent .div1 h1 {
    margin-left: auto;
    margin-right: auto;
    font-size: 2em;
    margin-top: 0%;
    text-align: center;
  }
}

.parent .div1 a {
  text-decoration: none;
  font-size: 1.2em;
  margin-left: 20%;
  color: white;
  background-color: #caa02a;
  width: 30%;
  text-align: center;
  border-radius: 20px;
  display: block;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-top: 5%;
}

@media only screen and (max-width: 959px) and (min-width: 600px) {
  .parent .div1 a {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}

@media only screen and (max-width: 598px) and (min-width: 50px) {
  .parent .div1 a {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}

.parent .div2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 2 / 3;
  margin-top: 10%;
}

@media only screen and (max-width: 959px) and (min-width: 600px) {
  .parent .div2 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2 / 1 / 3 / 2;
    margin-top: 0;
    z-index: -1;
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 598px) and (min-width: 50px) {
  .parent .div2 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2 / 1 / 3 / 2;
    margin-top: 0;
    z-index: -1;
    margin-bottom: 0;
  }
}

.parent .div2 ul {
  list-style-type: none;
  background-color: white;
  color: black;
  width: 60%;
  padding: 20px;
  margin-top: 20%;
  -webkit-box-shadow: 3px 0px 5px 4px #ccc;
          box-shadow: 3px 0px 5px 4px #ccc;
  border-radius: 30px;
  display: block;
}

@media only screen and (max-width: 959px) and (min-width: 600px) {
  .parent .div2 ul {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    -webkit-box-shadow: 0px 0px 5px 2px #ccc;
            box-shadow: 0px 0px 5px 2px #ccc;
  }
}

@media only screen and (max-width: 598px) and (min-width: 50px) {
  .parent .div2 ul {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    -webkit-box-shadow: 0px 0px 5px 2px #ccc;
            box-shadow: 0px 0px 5px 2px #ccc;
  }
}

.parent .div2 ul li {
  margin-top: 10px;
  margin-bottom: 10px;
}

.parent .div2 ul li span {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #3a57fe;
  border-radius: 50%;
}

@media only screen and (max-width: 959px) and (min-width: 600px) {
  .parent .div2 ul li span {
    width: 15px;
    height: 15px;
  }
}

@media only screen and (max-width: 598px) and (min-width: 50px) {
  .parent .div2 ul li span {
    width: 15px;
    height: 15px;
  }
}

.parent .div2 ul li strong {
  margin-left: 9%;
  font-size: 1em;
}

@media only screen and (max-width: 959px) and (min-width: 600px) {
  .parent .div2 ul li strong {
    font-weight: 0.5em;
  }
}

@media only screen and (max-width: 598px) and (min-width: 50px) {
  .parent .div2 ul li strong {
    font-weight: 0.5em;
  }
}

a.title {
  position: absolute;
  color: white;
  font-size: 1.7em;
  text-decoration: none;
  margin-left: 3%;
  margin-top: 2%;
  z-index: -1;
}

@media only screen and (max-width: 959px) and (min-width: 600px) {
  a.title {
    font-size: 1.9em;
  }
}

@media only screen and (max-width: 598px) and (min-width: 50px) {
  a.title {
    font-size: 1.9em;
  }
}

img.brand {
  width: 75px;
  height: 75px;
  margin-left: 85%;
  margin-top: 2%;
  position: absolute;
}

@media only screen and (max-width: 959px) and (min-width: 600px) {
  img.brand {
    width: 50px;
    height: 50px;
    margin-left: 80%;
  }
}

@media only screen and (max-width: 598px) and (min-width: 50px) {
  img.brand {
    width: 50px;
    height: 50px;
    margin-left: 80%;
  }
}
/*# sourceMappingURL=card.css.map */