@import 'media-queries.scss';
@import 'responsive.scss';

$colors:(
    primary: #536DFE,
    accent: #e63030,

);

@function color($color){
    @return(map-get($map: $colors, $key: $color))
}

$size__site_content_width: 1024px;

// /* Media Queries */ Not necessarily correct, edit these at will 
$media_queries : (
    mobile    : "only screen and (max-width: 667px)",
    tablet    : "only screen and (min-width: 668px) and (max-width: $size__site_content_width)",
    desktop   : "only screen and (min-width: ($size__site_content_width + 1))",
    retina2   : "only screen and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)",
    retina3   : "only screen and (-webkit-min-device-pixel-ratio: 3) and (min-resolution: 288dpi)",
    landscape : "screen and (orientation:landscape) ",    
    portrait  : "screen and (orientation:portrait) "
);

@mixin for_breakpoint($breakpoints) {
    $conditions : ();
    @each $breakpoint in $breakpoints {
        // If the key exists in the map
        $conditions: append(
            $conditions,
            #{inspect(map-get($media_queries, $breakpoint))},
            comma
        );
    }

    @media #{$conditions} {
        @content;
    }

}

body{
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: "Ubuntu";


    .bg{
        clip-path: polygon(0 0, 80% 0%, 54% 100%, 0% 100%);
        background-color: color(primary);
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;

        @include screen(mobile small-device){
            clip-path: polygon(100% 0, 100% 63%, 65% 100%, 0 100%, 0 0);
        }
        

        // @include break-point("xs"){
        //     clip-path: polygon(100% 0, 100% 63%, 65% 100%, 0 100%, 0 0);

        // }

        
        // @include xs{
        //     clip-path: polygon(100% 0, 100% 63%, 65% 100%, 0 100%, 0 0);
        // }

        // @include sm{
        //     clip-path: polygon(100% 0, 100% 63%, 65% 100%, 0 100%, 0 0);
        // }

        // @include md{
        //     clip-path: polygon(100% 0, 100% 63%, 65% 100%, 0 100%, 0 0);
        // }


        
    }
}

// #menu.visible{
//     left: 0px;
//     transition: left 0.7s ease;
// }

.open{
    left: 0;
    transition: left 0.8s ease;
}

.close{
    left:-20%;
    transition: left 0.8s ease;

    @include screen(mobile small-device){
        left: -70%;
    }

}

#menu{
    background-color: white;
    width: 20%;
    height: 100%;
    position: absolute;
    color: black;
    // margin-top: 3.1%;
    // padding-top: 3.2%;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    // left: -20%;

    @include screen(mobile small-device){
        
        width: 70%;
    }

    #menuButton{
        width: 10%;
        margin-left: 100%;
        height: 6%;
        position: absolute;
        background-color: white;
        // z-index: ;
        text-align: right;
        // color: white;
        padding-right: 25px;
        padding-top: 9px;
        // padding-bottom: ;
        margin-top: 35%;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;

        @include screen(mobile small-device){
            margin-top: 25%;
        }

    }
    // left: -30%;

    p{
        text-align: center;
        font-size: 1.3em;
        // color: white;
        // text-shadow: 3px 3px 3px 4px color(accent);
        text-shadow: 0px 0px 1px black;
    }

    img{
        width:100px;
        height: 100px;
        // border-radius: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;

        @include screen(mobile small-device){
            width: 50px;
            height: 50px;

        }
    
    }


    .menuItems {

        border-top: 2px solid color(accent);

        ul{
        
            list-style: none;
            display: block;
            margin-left: -35px;
    
    
            li{
               
                text-align: center;
                // color: white;
                margin-top: 10px;
                margin-bottom: 10px;
                font-size: 1em;
                
            }
        }
    }
}

    
    
.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin:0;
    
    @include screen(mobile small-device){
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 50px;
    }

    .div1 { 
        grid-area: 1 / 1 / 2 / 2; 
        margin-top: 30%;
        text-align: left;
        
        @include screen(mobile small-device){
            grid-area: 1 / 1 / 2 / 2;
            margin-top: 20%;
        }
        
        h1{
            color: white;
            font-size: 3em;
            margin-left: 20%;
            // text-align: center;
            margin-top: 0%;
            display: block;
            @include screen(mobile small-device){
                margin-left: auto;
                margin-right: auto;
                font-size: 2em;
                margin-top: 0%;
                text-align: center;
            }
            
        }

        a{
            // margin-left: auto;
            text-decoration: none;
            font-size: 1.2em;
            margin-left: 20%;
            color: white;
            background-color: rgb(202, 160, 42);
            width: 30%;
            text-align: center;
            border-radius: 20px;
            display: block;
            padding-top: 3%;
            padding-bottom: 3%;
            margin-top: 5%;
            @include screen(mobile small-device){
                margin-left: auto;
                margin-right: auto;
                width: 50%;
            }
        }
    }

    .div2 {

        grid-area: 1 / 2 / 2 / 3; 
        margin-top: 10%;
        // background-color: color(accent);
        
        @include screen(mobile small-device){
            grid-area: 2 / 1 / 3 / 2;
            margin-top: 0;
            z-index: -1;
            margin-bottom: 0;
        }

        ul{
            list-style-type: none;
            background-color: white;
            color: black;
            width: 60%;
            padding: 20px;
            margin-top: 20%;
            // box-shadow: 0 10px 30px rgba(0, 0, 0, .2);
            box-shadow: 3px 0px 5px 4px #ccc;
            border-radius: 30px;
            display: block;

            @include screen(mobile small-device){
                margin-left: auto;
                margin-right: auto;
                margin-top: 0;
                box-shadow: 0px 0px 5px 2px #ccc;
                
            }
            li{

                margin-top: 10px;
                margin-bottom: 10px;
                
                span{
                    position: absolute;
                    width: 30px;
                    height: 30px;
                    // margin-top: 20px;
                    // margin-bottom: 20px;
                    background: darken($color: color(primary), $amount: 5%);
                    border-radius: 50%;

                    @include screen(mobile small-device){
                        width: 15px;
                        height: 15px;
                    }
                    
                }
                strong{
                    margin-left: 9%;
                    font-size: 1em;
                    @include screen(mobile small-device){
                        font-weight: 0.5em;
                    }
                    // margin-top: ;
                }
            }
        }


    }

    


}

a.title{
    position: absolute;
    color: white;
    font-size: 1.7em;
    text-decoration: none;
    margin-left: 3%;
    margin-top: 2%;
    z-index: -1;

    @include screen(mobile small-device){
        font-size: 1.9em;
    }
}

img.brand{
    width: 75px;
    height: 75px;
    margin-left: 85%;
    margin-top: 2%;
    position: absolute;

    @include screen(mobile small-device){
        width: 50px;
        height: 50px;
        margin-left: 80%;
    }
    
}



