// $screen-sm-min: 600px;
// $screen-md-min: 960px;
// $screen-lg-min: 1280px;
// $screen-xl-min: 1920px;

// $screen-xs-max: 599px;
// $screen-sm-max: 959px;
// $screen-md-max: 1279px;
// $screen-lg-max: 1919px;
// $screen-xl-max: 5000px;

$screens-min:(
    mobile: 600px,
    small-device: 50px,
    tablet: 960px,
    laptop: 1280px,
    desktop: 1920px,
);
$screens-max:(
    mobile: 959px,
    small-device: 598px,
    tablet: 1279px,
    laptop: 1919px,
    desktop: 5000px,
);
@mixin screen($sizes) {
     @each $size in $sizes {    
        @media only screen and (max-width: #{map-get($map: $screens-max, $key: $size)}) and (min-width: #{map-get($map: $screens-min, $key: $size)}) {
            @content;
        }
    }     
}

